# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# large files
map-frontend/public/geojson/
map-frontend/public/tiles/
papers/
backend/data/
backend/*.csv
backend/*.geojson
backend/adapters/iou/sdge/sdge_Load_Capacity_MW__LCA__NDA_-5834481280674565521.geojson

# other projects
cris/

# WIP
2024_02(feb)_26_CCA.pptx

# keys
.env

