# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build artifacts
electrify-ca-app/static/

# large files
map-frontend/public/geojson/
map-frontend/public/tiles/
papers/
backend/data/

# not yet tracked
backend/adapters/nrel/
backend/helpers/

# Specific inputs or outputs
backend/adapters/iou/**/*.csv
backend/adapters/iou/**/*.geojson
backend/adapters/sam/**/*.csv

# other projects
cris/

# WIP
2024_02(feb)_26_CCA.pptx

# keys
.env

